/*====================================== CONOCENOS ==================*/

.texto_conocenos {
    text-align: center;
    padding: 2rem;
    color: $color-white;
    width: 50%;
    margin: auto;
}

.linea {
    border-color: yellow;
    border-style: dotted;
    border-width: 2px;
}

.contenedor_conocenos p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 3rem;
}