/*========================================  CONTACTO =============*/

.formulario{
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: cursive;
    padding: 20px 40px;
}

.guia{
    width: 100%;
    padding: 5px;
    outline: none;
}

.datos_personales {
    line-height: 1.9rem;
}

.boton_enviar{
    transform: translate(2.2%);
    padding: 3px;
    margin-top: 0.6rem;
    font-family: cursive;
    font-weight: bold;
}